<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="priv.zhenwen.bookcrossing.project.mapper.UserMapper">

    <resultMap type="priv.zhenwen.bookcrossing.project.entity.User" id="UserMap">
                <result property="userId" column="user_id" jdbcType="INTEGER"/>
                <result property="username" column="username" jdbcType="VARCHAR"/>
                <result property="email" column="email" jdbcType="VARCHAR"/>
                <result property="password" column="password" jdbcType="VARCHAR"/>
                <result property="type" column="type" jdbcType="VARCHAR"/>
                <result property="status" column="status" jdbcType="VARCHAR"/>
                <result property="tel" column="tel" jdbcType="VARCHAR"/>
            </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="UserMap">
        select
          user_id, username, email, password, type, status, tel
        from user
        where user_id = #{userId}
    </select>

    <!--根据邮箱查询单个-->
    <select id="queryByEmail" resultMap="UserMap">
        select
          user_id, username, email, password, type, status, tel
        from user
        where email = #{email}
    </select>

    <!--根据属性查询指定数据-->
    <select id="queryAll" resultMap="UserMap">
        select
          user_id, username, email, password, type, status, tel
        from user
        <where>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="username != null and username != ''">
                and username = #{username}
            </if>
            <if test="email != null and email != ''">
                and email = #{email}
            </if>
            <if test="password != null and password != ''">
                and password = #{password}
            </if>
            <if test="type != null and type != ''">
                and type = #{type}
            </if>
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
            <if test="tel != null and tel != ''">
                and tel = #{tel}
            </if>
        </where>
    </select>
    
    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="UserMap">
        select
          user_id, username, email, password, type, status, tel
        from user
        <where>
            <if test="user.userId != null">
                and user_id = #{user.userId}
            </if>
            <if test="username != null and username != ''">
                and username = #{user.username}
            </if>
            <if test="user.email != null and user.email != ''">
                and email = #{user.email}
            </if>
            <if test="user.password != null and user.password != ''">
                and password = #{user.password}
            </if>
            <if test="user.type != null and user.type != ''">
                and type = #{user.type}
            </if>
            <if test="user.status != null and user.status != ''">
                and status = #{user.status}
            </if>
            <if test="user.tel != null and user.tel != ''">
                and tel = #{user.tel}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from user
        <where>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="username != null and username != ''">
                and username = #{username}
            </if>
            <if test="email != null and email != ''">
                and email = #{email}
            </if>
            <if test="password != null and password != ''">
                and password = #{password}
            </if>
            <if test="type != null and type != ''">
                and type = #{type}
            </if>
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
            <if test="tel != null and tel != ''">
                and tel = #{tel}
            </if>
        </where>
    </select>

    <!--根据用户名查询单个-->
    <select id="queryByUsername" resultMap="UserMap">
        select
          user_id, username, email, password, type, status, tel
        from user
        where username = #{username}
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="userId" useGeneratedKeys="true">
        insert into user(username, email, password, type, status, tel)
        values (#{username}, #{email}, #{password}, #{type}, #{status}, #{tel})
    </insert>

    <insert id="insertBatch" keyProperty="userId" useGeneratedKeys="true">
        insert into user(username, email, password, type, status, tel)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.username}, #{entity.email}, #{entity.password}, #{entity.type}, #{entity.status}, #{entity.tel})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="userId" useGeneratedKeys="true">
        insert into user(username, email, password, type, status, tel)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.username}, #{entity.email}, #{entity.password}, #{entity.type}, #{entity.status}, #{entity.tel})
        </foreach>
        on duplicate key update
        username = values(username),
        email = values(email),
        password = values(password),
        type = values(type),
        status = values(status),
        tel = values(tel)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update user
        <set>
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="type != null and type != ''">
                type = #{type},
            </if>
            <if test="status != null and status != ''">
                status = #{status},
            </if>
            <if test="tel != null and tel != ''">
                tel = #{tel},
            </if>
        </set>
        where user_id = #{userId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from user where user_id = #{userId}
    </delete>

</mapper>

