<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="priv.zhenwen.bookcrossing.mapper.LinkMapper">

    <resultMap type="priv.zhenwen.bookcrossing.entity.Link" id="LinkMap">
        <result property="linkId" column="link_id" jdbcType="INTEGER"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="LinkMap">
        select
          link_id, url, content
        from link
        where link_id = #{linkId}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="LinkMap">
        select
          link_id, url, content
        from link
        <where>
            <if test="linkId != null">
                and link_id = #{linkId}
            </if>
            <if test="url != null and url != ''">
                and url = #{url}
            </if>
            <if test="content != null and content != ''">
                and content = #{content}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from link
        <where>
            <if test="linkId != null">
                and link_id = #{linkId}
            </if>
            <if test="url != null and url != ''">
                and url = #{url}
            </if>
            <if test="content != null and content != ''">
                and content = #{content}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="linkId" useGeneratedKeys="true">
        insert into link(url, content)
        values (#{url}, #{content})
    </insert>

    <insert id="insertBatch" keyProperty="linkId" useGeneratedKeys="true">
        insert into link(url, content)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.url}, #{entity.content})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="linkId" useGeneratedKeys="true">
        insert into link(url, content)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.url}, #{entity.content})
        </foreach>
        on duplicate key update
        url = values(url),
        content = values(content)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update link
        <set>
            <if test="url != null and url != ''">
                url = #{url},
            </if>
            <if test="content != null and content != ''">
                content = #{content},
            </if>
        </set>
        where link_id = #{linkId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from link where link_id = #{linkId}
    </delete>

</mapper>

